.title {
    margin-top: 12px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    &-product {
        padding: 0 4px 4px 4px;
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
        color: #000000;
    }
}