.reviews {
    .container {
        .title {
            margin-bottom: 50px;
        }
    }
    &-item {
        margin-bottom: 30px;
        padding-bottom: 100px;
        &__info {
            margin-bottom: 50px;
            display: flex;
            align-items: center;
            &-author {
                margin-right: 575px;
                font-weight: 400;
                font-size: 26px;
                color: #000000;
                img {
                    margin-right: 6px;
                    height: 40px;
                    width: 40px;
                }
            }
            &-date {
                margin-right: 27px;
                font-weight: 400;
                font-size: 22px;
                color: #000000;
            }
        }
        &__section {
            &-title {
                margin-bottom: 16px;
                font-weight: 400;
                font-size: 22px;
                color: #000000;
            }
            &-comment {
                margin-bottom: 15px;
                min-height: 70px;
                font-weight: 400;
                font-size: 18px;
                color: #000000;
            }
        }
    }
}