.top-sales {
    padding-bottom: 100px;
    &-item {
        margin: 0 auto;
        margin-bottom: 35px;
        width: 85%;
        height: 400px;
        &__content {
            border: 1px solid #000;
            border-bottom: none;
        }
        .rating {
            height: 25px;
            width: 106px;
            position: absolute;
            top: 0;
            left: 0;
        }
        &__img {
            position: relative;
            height: 280px;
            &-link {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                img {
                    display: block;
                    margin: 0 auto;
                    max-width: 95%;
                    max-height: 95%;
                }
            }
            a svg {
                height: 30px;
                position: absolute;
                top: 0;
                right: 0;
                &:hover {
                    fill: $main-color;
                }
            }
        }
        &__subtitle {
            padding: 0 5px;
            height: 70px;
            font-weight: 400;
            font-size: 24px;
            line-height: 31px;
            color: #000000;
        }
        &__footer {
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 3px solid $main-color;
        }
        &__price {
            width: 50%;
            height: 100%;
            &__old {
                height: 40%;
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                text-decoration-line: line-through;
                color: #000000;
                text-align: center;
            }
            &__new {
                height: 60%;
                font-weight: 400;
                font-size: 23px;
                line-height: 115%;
                color: #000000;
                text-align: center;
            }
        }
    }
}
